<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adventure Club Handbook</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='css/normalize.css' />
    <link rel='stylesheet' type='text/css' href='css/main.css' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
    <meta name="description" content="">
  </head>
  <body>
  <div class="entry_content">
    {{ content }}
  </div>
  </body>
</html>
